/*image plus translucide au survol de la souris */
.hover-effect img:hover {
    opacity: 0.5;
}

/*Les bordure de ces images sont arrondis à 3 pixels */
body img {
    border-radius: 3px;
}

/*Une de tes images devra être en noir et blanc */
body img:hover {
    -webkit-filter: grayscale(100%);
}


/*créer un menu deroulant*/

#menu {
    display: none;
}

#menu+nav {
    display: none;
}

#menu:checked+nav {
    display: block;
}

/* darkmode pour des écrans de 600px de large et lightmode pour les écrans de plus de 600px de large */
@media (max-width:600px) {
    body {
        background-color: rgb(36, 31, 31);
        color: white;
    }
    a {
        color: aqua;
    }
}

@media (min-width:600px) {
    body {
        background-color: whitesmoke;
    }
    a {
        color: blue;
    }
}

form ul{
    display: inline-table;
}